body, html {
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
}

.blue-landscape {
    background-image: url("images/blue-landscape.jpg");
}

.dusk-landscape {
    background-image: url("images/dusk-landscape.jpg");
}

.green-landscape {
    background-image: url("images/green-landscape.jpg");
}

.pink-landscape {
    background-image: url("images/pink-landscape.jpg");
}

.parallax {
    /* Set a specific height */
    height: 100%;

    position: relative;

    opacity: .9;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}


.caption span.border {
    background-color: darkslategray;
    color: cornsilk;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    border-radius: 5px;
}

.caption span.no-border {
    color: cornsilk;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.caption span.dark {
    color: darkslategray;
}

.section-one {
    background-color: cornsilk;
    color: rgb(145, 117, 117);
    padding: 50px 80px;
    text-align: justify;
}

.section-two, .section-three {
    background-color: darkslategray;
    color: cornsilk;
    padding: 50px 80px;
    text-align: justify;
}

.align-text-center {
    text-align: center;
}
